h1, h2, h3, p {
  font-family: "Ubuntu Regular",
  "Verdana";
}

p {
  color: #336699;
}

header {
  background-color: #336699;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  float: left;
  color: white;
  font-family: "Ubuntu Regular",
  "Verdana";
  border-bottom: 3px;
  border-bottom-color: white;

}

header > h1 {
  margin: 0;
  padding: 10px;
  font-family: "Ubuntu Regular",
  "Verdana";
  font-size: 1.0625rem;
  line-height: 2.8125rem;
  font-weight: lighter
}

header h2 {
  margin: 0;
  padding: 10px;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: lighter
}

#main {
  display: block;
  top: 130px;
  position: relative;
  text-align: center;
}

#percentile_displays {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

form {
  margin: 5px;
}

input {
  margin: 5px;
}





/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}


/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
